body{
	background-color: #050505;
	background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.btn{
	color:black;
}
.simon-red{
	background-color: #E70E02;
	color: #E70E02;
}
.simon-yellow{
	background-color: #F26419;
	color: #F26419;
}
.simon-blue{
	background-color: #071B66;
	color: #071B66;
}
.simon-green{
	background-color: #157F1F;
	color: #157F1F;
}
.simon-white{
	background-color: white;
	color: black;
}
.btn-primary:link, visited, hover, active{
	background-color: #071B66;
}
.btn-secondary:link, visited, hover, active{
	color:#F26419;
	background-color: white;
}
.btn-warning:link, visited, hover, active{
	background-color: #F26419; 
}